In [1]:
# Data cleaning strategy
# 1. Remove all unnecessary columns
#      Blank columns at the end of the dataset
#      Case Number, Name, Investigator, PDF, original order, Species, and extra href as we do not need those for our analysis
# 2. Clean up Year column
#      Change to integer type
#      Remove all rows that are from before 1950
# 3. Clean up the 'Type' column
#      Remove rows of type "Invalid" as those look to be incidents determined to be not shark-related
#      Remove rows of type "Questionable", "Unconfirmed", "Unverified", or "Under Investigation" as they are not 
#             confirmed as shark incidents
#      Combine Boat and Watercraft records as they are the same type
# 4. Clean up Date column
#      Use Case Number field for this as it is built on the date and actually cleaner
#      Make the date column a valid and consistent date/time format
# 5. Clean up the 'Fatal (Y/N)' column
#      Rename to just 'Fatal'
#      Replace values that are not "Y", "N", or "UNKNOWN" with appropriate values
# 6. Clean up Gender column
#      Make sure all rows are either "M", "F", or "Unknown"
# 7. Clean up Age column
#      Convert to number type (no age given will be listed as 0)
# 8. Clean up Time column
#      Convert to a valid time format
# 9. Clean up Activity column
#      Standardize activities??  Can keywords be pulled out??  Boating, surfing, swimming, etc...

In [2]:
# Import dependencies
import pandas as pd
import numpy as np
import re

from sqlalchemy import create_engine
import psycopg2

from config import db_password

In [3]:
# Set file directory path
file_dir = 'C:/Users/Bauer/Desktop/Analysis Projects/Final_Project_Team_4/Resources'
# Shark attack data file
shark_file = f'{file_dir}/GSAF5.csv'
# ISO code file
ISO_code_file = f'{file_dir}/ISO_Codes.csv'

In [4]:
# Read the ISO code file csv file into a dataframe
ISO_df = pd.read_csv(ISO_code_file, low_memory=False)
ISO_df.head()

                                 Official state name ISO Code
0                                              �LAND       AX
1  ALL LAND AND ICE SHELVES SOUTH OF THE�60TH PAR...       AQ
2                                           ANGUILLA       AI
3                                ANTIGUA AND BARBUDA       AG
4                                              ARUBA       AW

In [5]:
# Rename column names
ISO_df.rename(columns = {'ISO Code':'ISO_code'}, inplace = True)

In [6]:
# Read shark attack csv file into a dataframe
shark_attack_df = pd.read_csv(shark_file, low_memory=False)
shark_attack_df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Gender,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2021.09.10,10-Sep-21,2021,NaN,EGYPT,NaN,Sidi Abdel Rahmen,Swimming,Mohamed,M,...,No shark invovlement,Dr. M. Fouda & M. Salrm,2021.09.10-Mohamed.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2021.09.10,2021.09.10,6700.0,NaN,NaN
1,2021.09.09,9-Sep-21,2021,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing,Doyle Neilsen,M,...,NaN,"Daytona Beach News-Journal, 9/14/2021",2021.09.09-Neilsen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2021.09.09,2021.09.09,6699.0,NaN,NaN
2,2021.09.05,5-Sep-21,2021,Unprovoked,AUSTRALIA,New South Wales,Emerald Beach,Surfing,Timothy Thompson,M,...,White xhark,"B. Myatt, GSAF",2021.09.05-Thompson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2021.09.05,2021.09.05,6698.0,NaN,NaN
3,2021.09.03.b,3-Sep-21,2021,Unprovoked,British Overseas Territory,Turks and Caicos,NaN,NaN,male,M,...,NaN,Anonymous,2021.09.03.b-TurksCaicos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2021.09.03.b,2021.09.03.b,6697.0,NaN,NaN
4,2021.08.28,28-Aug-21,2021,Unprovoked,USA,Texas,"Galveston Island, Galveston County",Boogie boarding,male,M,...,NaN,"T. Craig, GSAF & K. McMurray, TrackingShark.com",2021.08.28.-Galveston.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2021.08.28,2021.08.28,6696.0,NaN,NaN

In [7]:
# List all column names
print(shark_attack_df.columns.values.tolist())

['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity', 'Name', 'Gender', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href', 'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22', 'Unnamed: 23']

In [8]:
# Remove all of the extra "unnamed" columns at the end of the dataset
for column in shark_attack_df.columns:
    if 'Unnamed:' in column:
        shark_attack_df.drop(columns=column, inplace=True)

# Drop other unnecessary columns
shark_attack_df.drop(columns=['Date', 'Name', 'Investigator or Source', 'href', 'pdf', 'Injury',
                              'original order', 'Species ', 'Case Number.1', 'Case Number.2'], inplace=True)

shark_attack_df.head()

,Case Number,Year,Type,Country,Area,Location,Activity,Gender,Age,Fatal (Y/N),Time,href formula
0,2021.09.10,2021,NaN,EGYPT,NaN,Sidi Abdel Rahmen,Swimming,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2021.09.09,2021,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing,M,!6,N,13h20,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2021.09.05,2021,Unprovoked,AUSTRALIA,New South Wales,Emerald Beach,Surfing,M,31,Y,10h30,http://sharkattackfile.net/spreadsheets/pdf_di...
3,2021.09.03.b,2021,Unprovoked,British Overseas Territory,Turks and Caicos,NaN,NaN,M,NaN,N,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
4,2021.08.28,2021,Unprovoked,USA,Texas,"Galveston Island, Galveston County",Boogie boarding,M,!!,N,11h45,http://sharkattackfile.net/spreadsheets/pdf_di...

In [9]:
# Display number of rows and columns
shark_attack_df.shape

(25840, 12)

### Clean Year column

In [10]:
# Update year column to number
shark_attack_df["Year"]=pd.to_numeric(shark_attack_df["Year"],errors='coerce')
# Remove any rows with data older than 1950 or are empty
shark_attack_df = shark_attack_df[shark_attack_df['Year'] >= 1950]

shark_attack_df.shape

(4887, 12)

### Clean type Column

In [11]:
# Determine values in 'Type' column
shark_attack_df['Type'].value_counts()

Unprovoked             3655
Provoked                469
Invalid                 381
Watercraft              251
Sea Disaster             98
Questionable             12
Boat                      7
Unconfirmed               1
Unverified                1
Under investigation       1
Name: Type, dtype: int64

In [12]:
# Remove types that are 'Invalid' as they are not shark related injuries or deaths
# Also remove types that have not been deteremined as shark attack
values_list = ['Invalid','Questionable','Unconfirmed','Unverified','Under investigation']
shark_attack_df = shark_attack_df[~shark_attack_df['Type'].isin(values_list)]
# Combine "Boat" and "Watercraft" types
shark_attack_df['Type'] = shark_attack_df['Type'].str.replace('Boat','Watercraft')
shark_attack_df.shape

(4491, 12)

In [13]:
# Check value counts for 'Type'
shark_attack_df['Type'].value_counts()

Unprovoked      3655
Provoked         469
Watercraft       258
Sea Disaster      98
Name: Type, dtype: int64

### Clean Date Column

In [14]:
# Rename Case Number column to Date
shark_attack_df.rename(columns = {'Case Number':'Date'}, inplace = True)
# If the date will be missing the day value, update it to 1st of the month
shark_attack_df['Date'] = shark_attack_df['Date'].str.replace('.00.[a-zA-z]','01',regex="True")
shark_attack_df['Date'] = shark_attack_df['Date'].str.replace('.00 ','01',regex="True")
# Select first 10 characters and convert to date
shark_attack_df['Date'] = shark_attack_df['Date'].str[:10]
shark_attack_df['Date'] = pd.to_datetime(shark_attack_df['Date'], errors='coerce')
shark_attack_df.head()

,Date,Year,Type,Country,Area,Location,Activity,Gender,Age,Fatal (Y/N),Time,href formula
0,2021-09-10,2021.0,NaN,EGYPT,NaN,Sidi Abdel Rahmen,Swimming,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2021-09-09,2021.0,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing,M,!6,N,13h20,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2021-09-05,2021.0,Unprovoked,AUSTRALIA,New South Wales,Emerald Beach,Surfing,M,31,Y,10h30,http://sharkattackfile.net/spreadsheets/pdf_di...
3,2021-09-03,2021.0,Unprovoked,British Overseas Territory,Turks and Caicos,NaN,NaN,M,NaN,N,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
4,2021-08-28,2021.0,Unprovoked,USA,Texas,"Galveston Island, Galveston County",Boogie boarding,M,!!,N,11h45,http://sharkattackfile.net/spreadsheets/pdf_di...

In [15]:
shark_attack_df.shape

(4491, 12)

In [16]:
# Determine how many rows without a valid date
shark_attack_df[shark_attack_df.Date.isnull()]

,Date,Year,Type,Country,Area,Location,Activity,Gender,Age,Fatal (Y/N),Time,href formula
10,NaT,2021.0,Unprovoked,USA,Florida,"Key Largo, Monroe County",Snorkeling,M,15,N,07h51,http://sharkattackfile.net/spreadsheets/pdf_di...
83,NaT,2021.0,Unprovoked,BRAZIL,Pernambuco,Cacimba do Padre Beach,Surfing,M,52,N,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
378,NaT,2018.0,Unprovoked,EGYPT,NaN,Brothers Island,Scuba Diving,M,NaN,N,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
386,NaT,2018.0,Provoked,AUSTRALIA,Westerm Australia,Dugong Bay,Feeding sharks,F,34,N,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
659,NaT,2016.0,Unprovoked,USA,Louisiana,NaN,Wading,F,33,N,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...
4840,NaT,1951.0,Unprovoked,COLUMBIA,Caribbean Sea,Cartegena,Bathing,NaN,NaN,Y,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
4844,NaT,1951.0,Unprovoked,FRENCH POLYNESIA,Tuamotus,"Outer edge of Hikueru, one of the Central Tuam...",Spearfishing,M,39,N,11h00,http://sharkattackfile.net/spreadsheets/pdf_di...
4855,NaT,1951.0,Unprovoked,NEW GUINEA,Madang Province,Manam Island,NaN,NaN,NaN,Y,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
4865,NaT,1950.0,Unprovoked,SAUDI ARABIA,Eastern Province,East of the Ras Tanura-Jubail area,Diving,M,NaN,N,2 hrs before sunset,http://sharkattackfile.net/spreadsheets/pdf_di...
4872,NaT,1950.0,Unprovoked,USA,Florida,"Rock Harbor, Key Largo, Monroe County","Goggle-diving for seaweeds, but standing in water",M,21,N,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...

### Clean up Fatal column

In [17]:
# Clean up Fatal Column
# Rename 'Fatal (Y/N)' column to be just 'Fatal'  
shark_attack_df.rename(columns = {'Fatal (Y/N)':'Fatal'}, inplace = True)

In [18]:
# Check value counts for 'Fatal'
shark_attack_df['Fatal'].value_counts()

N          3755
Y           660
UNKNOWN      43
 N            7
Y x 2         1
2017          1
Nq            1
M             1
Name: Fatal, dtype: int64

In [19]:
shark_attack_df['Fatal'] = shark_attack_df['Fatal'].str.replace(' N','N')
shark_attack_df['Fatal'] = shark_attack_df['Fatal'].str.replace('Nq','N')
shark_attack_df['Fatal'] = shark_attack_df['Fatal'].str.replace('Y x 2','Y')
shark_attack_df['Fatal'] = shark_attack_df['Fatal'].str.replace('2017','UNKNOWN')
shark_attack_df['Fatal'] = shark_attack_df['Fatal'].str.replace('M','UNKNOWN')
shark_attack_df['Fatal'].value_counts()

N          3763
Y           661
UNKNOWN      45
Name: Fatal, dtype: int64

### Clean up Gender column

In [20]:
# Check value counts for 'Gender'
shark_attack_df['Gender'].value_counts()

M        3564
F         561
M           2
lli         1
M x 2       1
Name: Gender, dtype: int64

In [21]:
shark_attack_df['Gender'] = shark_attack_df['Gender'].str.replace('^M.*','M',regex="True")
shark_attack_df['Gender'] = shark_attack_df['Gender'].str.replace('lli','UNKNOWN')
shark_attack_df['Gender'].value_counts()

M          3567
F           561
UNKNOWN       1
Name: Gender, dtype: int64

In [22]:
shark_attack_df.shape

(4491, 12)

### Clean Age column

In [23]:
# Update age column to number
shark_attack_df['Age']=pd.to_numeric(shark_attack_df['Age'],errors='coerce')
shark_attack_df['Age'] = shark_attack_df['Age'].replace(np.nan, 0, regex=True)
shark_attack_df['Age'] = shark_attack_df['Age'].astype(int)
shark_attack_df.head()

,Date,Year,Type,Country,Area,Location,Activity,Gender,Age,Fatal,Time,href formula
0,2021-09-10,2021.0,NaN,EGYPT,NaN,Sidi Abdel Rahmen,Swimming,M,0,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2021-09-09,2021.0,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing,M,0,N,13h20,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2021-09-05,2021.0,Unprovoked,AUSTRALIA,New South Wales,Emerald Beach,Surfing,M,31,Y,10h30,http://sharkattackfile.net/spreadsheets/pdf_di...
3,2021-09-03,2021.0,Unprovoked,British Overseas Territory,Turks and Caicos,NaN,NaN,M,0,N,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
4,2021-08-28,2021.0,Unprovoked,USA,Texas,"Galveston Island, Galveston County",Boogie boarding,M,0,N,11h45,http://sharkattackfile.net/spreadsheets/pdf_di...

In [24]:
shark_attack_df.shape

(4491, 12)

### Clean Time column

In [25]:
# Replace 'h' denoting hours with ":"
shark_attack_df['Time'] = shark_attack_df['Time'].str.replace('h',':',regex="True")
shark_attack_df.head()

,Date,Year,Type,Country,Area,Location,Activity,Gender,Age,Fatal,Time,href formula
0,2021-09-10,2021.0,NaN,EGYPT,NaN,Sidi Abdel Rahmen,Swimming,M,0,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2021-09-09,2021.0,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing,M,0,N,13:20,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2021-09-05,2021.0,Unprovoked,AUSTRALIA,New South Wales,Emerald Beach,Surfing,M,31,Y,10:30,http://sharkattackfile.net/spreadsheets/pdf_di...
3,2021-09-03,2021.0,Unprovoked,British Overseas Territory,Turks and Caicos,NaN,NaN,M,0,N,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
4,2021-08-28,2021.0,Unprovoked,USA,Texas,"Galveston Island, Galveston County",Boogie boarding,M,0,N,11:45,http://sharkattackfile.net/spreadsheets/pdf_di...

In [26]:
shark_attack_df['Time'].value_counts()

Afternoon                         152
11:00                             115
Morning                           107
14:00                             102
15:00                              99
                                 ...
10:07                               1
07:56                               1
11:51                               1
Sometime between 06:00 & 08:oo      1
13:23                               1
Name: Time, Length: 357, dtype: int64

In [27]:
shark_attack_df['Time'] = pd.to_datetime(shark_attack_df['Time'], format='%H:%M', errors='coerce').dt.time

In [28]:
shark_attack_df.head()

,Date,Year,Type,Country,Area,Location,Activity,Gender,Age,Fatal,Time,href formula
0,2021-09-10,2021.0,NaN,EGYPT,NaN,Sidi Abdel Rahmen,Swimming,M,0,NaN,NaT,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2021-09-09,2021.0,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing,M,0,N,13:20:00,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2021-09-05,2021.0,Unprovoked,AUSTRALIA,New South Wales,Emerald Beach,Surfing,M,31,Y,10:30:00,http://sharkattackfile.net/spreadsheets/pdf_di...
3,2021-09-03,2021.0,Unprovoked,British Overseas Territory,Turks and Caicos,NaN,NaN,M,0,N,NaT,http://sharkattackfile.net/spreadsheets/pdf_di...
4,2021-08-28,2021.0,Unprovoked,USA,Texas,"Galveston Island, Galveston County",Boogie boarding,M,0,N,11:45:00,http://sharkattackfile.net/spreadsheets/pdf_di...

In [29]:
# Determine how many rows without a valid time
shark_attack_df[shark_attack_df.Time.isnull()]

,Date,Year,Type,Country,Area,Location,Activity,Gender,Age,Fatal,Time,href formula
0,2021-09-10,2021.0,NaN,EGYPT,NaN,Sidi Abdel Rahmen,Swimming,M,0,NaN,NaT,http://sharkattackfile.net/spreadsheets/pdf_di...
3,2021-09-03,2021.0,Unprovoked,British Overseas Territory,Turks and Caicos,NaN,NaN,M,0,N,NaT,http://sharkattackfile.net/spreadsheets/pdf_di...
7,2021-08-13,2021.0,Unprovoked,CANADA,Nova Scotia,Cape Breton Island,Swimming,F,21,N,NaT,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2021-08-07,2021.0,Provoked,AUSTRALIA,Queensland,North Stradbroke Island,Harassing sharks,M,0,N,NaT,http://sharkattackfile.net/spreadsheets/pdf_di...
15,2021-07-27,2021.0,Unprovoked,USA,Georgia,"Tybee Island, Chatham County",Surfing,M,58,N,NaT,http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...
4894,1950-01-01,1950.0,Unprovoked,GREECE,NaN,"Piraeus, Athens",Swimming,NaN,0,Y,NaT,http://sharkattackfile.net/spreadsheets/pdf_di...
4895,1950-01-01,1950.0,Unprovoked,SINGAPORE,Singapore Harbor,NaN,Diving for coins,M,0,Y,NaT,http://sharkattackfile.net/spreadsheets/pdf_di...
4896,1950-01-01,1950.0,Unprovoked,NEW CALEDONIA,North Province,"Voh, near meatworks","Spearfishing, but walking carrying fish on end...",M,0,N,NaT,http://sharkattackfile.net/spreadsheets/pdf_di...
4897,1950-01-01,1950.0,Unprovoked,NEW CALEDONIA,North Province,Mangalia Reef above Touho,"Helmet diving, collecting trochus shell",M,0,N,NaT,http://sharkattackfile.net/spreadsheets/pdf_di...
4898,1950-01-01,1950.0,Unprovoked,FIJI,NaN,Near Lautoka,NaN,M,0,N,NaT,http://sharkattackfile.net/spreadsheets/pdf_di...

In [30]:
shark_attack_df.shape

(4491, 12)

### Clean Activity column

In [31]:
# Pull out key words for common activities to 'bucket' the activities
shark_attack_df['Activity'] = shark_attack_df['Activity'].str.replace('.*[Bb]oating.*','Boating',regex="True")
shark_attack_df['Activity'] = shark_attack_df['Activity'].str.replace('.*[Dd]iving.*','Diving',regex="True")
shark_attack_df['Activity'] = shark_attack_df['Activity'].str.replace('.*[Ff]ishing.*','Fishing',regex="True")
shark_attack_df['Activity'] = shark_attack_df['Activity'].str.replace('.*[Ss]urfing.*','Surfing and Other Board Sports',regex="True")
shark_attack_df['Activity'] = shark_attack_df['Activity'].str.replace('.*[Bb]oarding.*','Surfing and Other Board Sports',regex="True")
shark_attack_df['Activity'] = shark_attack_df['Activity'].str.replace('.*[Ss]wimming.*','Swimming',regex="True")
shark_attack_df['Activity'] = shark_attack_df['Activity'].str.replace('.*[Ss]inking.*','Sea Disaster',regex="True")
shark_attack_df['Activity'] = shark_attack_df['Activity'].str.replace('.*[Cc]apsize.*','Sea Disaster',regex="True")
shark_attack_df['Activity'] = shark_attack_df['Activity'].str.replace('.*[Ee]xplode.*','Sea Disaster',regex="True")
shark_attack_df['Activity'] = shark_attack_df['Activity'].str.replace('.*[Ss]ank.*','Sea Disaster',regex="True")
shark_attack_df['Activity'] = shark_attack_df['Activity'].str.replace('.*[Cc]rash.*','Sea Disaster',regex="True")
shark_attack_df['Activity'] = shark_attack_df['Activity'].str.replace('.*[Dd]isaster.*','Sea Disaster',regex="True")
shark_attack_df['Activity'] = shark_attack_df['Activity'].str.replace('.*[Ss]norkel.*','Snorkeling',regex="True")
shark_attack_df['Activity'] = shark_attack_df['Activity'].str.replace('.*[Ww]ading.*','Wading',regex="True")
shark_attack_df['Activity'] = shark_attack_df['Activity'].str.replace('.*[Kk]ayak.*','Kayaking or Canoeing',regex="True")
shark_attack_df['Activity'] = shark_attack_df['Activity'].str.replace('.*[Cc]anoe.*','Kayaking or Canoeing',regex="True")

shark_attack_df['Activity'] = np.where((shark_attack_df['Activity'] != 'Boating') &
                                      (shark_attack_df['Activity'] != 'Diving') &
                                      (shark_attack_df['Activity'] != 'Fishing') &
                                      (shark_attack_df['Activity'] != 'Surfing and Other Board Sports') &
                                      (shark_attack_df['Activity'] != 'Swimming') &
                                      (shark_attack_df['Activity'] != 'Sea Disaster') &
                                      (shark_attack_df['Activity'] != 'Snorkeling') &
                                      (shark_attack_df['Activity'] != 'Wading') &
                                      (shark_attack_df['Activity'] != 'Kayaking or Canoeing'), 'Other', shark_attack_df['Activity']
                                      )

In [32]:
#pd.set_option("display.max_rows", None)
shark_attack_df['Activity'].value_counts()

Surfing and Other Board Sports    1332
Fishing                            881
Other                              875
Swimming                           648
Diving                             379
Wading                             146
Snorkeling                         115
Sea Disaster                        62
Kayaking or Canoeing                51
Boating                              2
Name: Activity, dtype: int64

In [33]:
shark_attack_df.shape

(4491, 12)

### Merge ISO Codes into shark attack file

In [34]:
# Merge ISO codes into shark_attack_df
shark_attack_df = shark_attack_df.merge(ISO_df, how='left', left_on='Country', right_on='Official state name')
shark_attack_df.head()

,Date,Year,Type,Country,Area,Location,Activity,Gender,Age,Fatal,Time,href formula,Official state name,ISO_code
0,2021-09-10,2021.0,NaN,EGYPT,NaN,Sidi Abdel Rahmen,Swimming,M,0,NaN,NaT,http://sharkattackfile.net/spreadsheets/pdf_di...,EGYPT,EG
1,2021-09-09,2021.0,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing and Other Board Sports,M,0,N,13:20:00,http://sharkattackfile.net/spreadsheets/pdf_di...,USA,US
2,2021-09-05,2021.0,Unprovoked,AUSTRALIA,New South Wales,Emerald Beach,Surfing and Other Board Sports,M,31,Y,10:30:00,http://sharkattackfile.net/spreadsheets/pdf_di...,AUSTRALIA,AU
3,2021-09-03,2021.0,Unprovoked,British Overseas Territory,Turks and Caicos,NaN,Other,M,0,N,NaT,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN
4,2021-08-28,2021.0,Unprovoked,USA,Texas,"Galveston Island, Galveston County",Surfing and Other Board Sports,M,0,N,11:45:00,http://sharkattackfile.net/spreadsheets/pdf_di...,USA,US

In [35]:
# Determine how many rows without an ISO code
#pd.set_option("display.max_rows", None)
ISO_null_values = shark_attack_df[shark_attack_df.ISO_code.isnull()]

In [36]:
ISO_null_values

,Date,Year,Type,Country,Area,Location,Activity,Gender,Age,Fatal,Time,href formula,Official state name,ISO_code
3,2021-09-03,2021.0,Unprovoked,British Overseas Territory,Turks and Caicos,NaN,Other,M,0,N,NaT,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN
86,2021-01-09,2021.0,Unprovoked,ST KITTS / NEVIS,The Narrows,Booby Island,Swimming,F,26,N,NaT,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN
93,2020-12-10,2020.0,Unprovoked,ST MARTIN,NaN,Orient Beach,Swimming,F,39,Y,14:00:00,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN
409,2017-11-13,2017.0,Unprovoked,NaN,NaN,NaN,Surfing and Other Board Sports,M,24,N,NaT,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN
454,2017-07-24,2017.0,Unprovoked,"ST HELENA, British overseas territory",Ascension Island,English Bay,Surfing and Other Board Sports,M,37,N,17:00:00,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4348,NaT,1954.0,Provoked,SUDAN?,Red Sea,Southern part,Fishing,M,0,N,NaT,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN
4375,1953-07-11,1953.0,Sea Disaster,PACIFIC OCEAN,330 to 350 miles east of Wake Island,NaN,Other,NaN,0,N,NaT,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN
4386,1953-01-01,1953.0,Sea Disaster,INDIAN OCEAN,NaN,Between Straits of Malacca and Sri Lanka,Other,NaN,0,Y,NaT,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN
4415,1952-03-30,1952.0,Unprovoked,NETHERLANDS ANTILLES,Curacao,NaN,Other,M,0,N,NaT,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN
4439,1951-07-11,1951.0,Unprovoked,PACIFIC OCEAN,NaN,In Los Angeles – Honolulu yacht race,Other,M,40,N,NaT,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN

In [37]:
ISO_null_values['Country'].value_counts()

HONG KONG                                23
SOUTH KOREA                               8
ATLANTIC OCEAN                            6
NEW BRITAIN                               6
PACIFIC OCEAN                             6
TURKS & CAICOS                            5
MID ATLANTIC OCEAN                        4
CARIBBEAN SEA                             4
SCOTLAND                                  4
NORTH PACIFIC OCEAN                       4
FRANCE                                    4
OKINAWA                                   4
AZORES                                    3
ST HELENA, British overseas territory     2
Fiji                                      2
 TONGA                                    2
NORTH ATLANTIC OCEAN                      2
PERSIAN GULF                              2
PACIFIC OCEAN                             2
British Overseas Territory                1
ADMIRALTY ISLANDS                         1
NICARAGUA                                 1
NAMIBIA                                   1
RED SEA / INDIAN OCEAN                    1
SUDAN?                                    1
SOUTH ATLANTIC OCEAN                      1
ST MARTIN                                 1
UNITED ARAB EMIRATES (UAE)                1
WESTERN SAMOA                             1
NORTH SEA                                 1
EGYPT / ISRAEL                            1
GULF OF ADEN                              1
ST KITTS / NEVIS                          1
NORTHERN ARABIAN SEA                      1
NETHERLANDS ANTILLES                      1
GRAND CAYMAN                              1
MEXICO                                    1
ANDAMAN / NICOBAR ISLANDAS                1
PALESTINIAN TERRITORIES                   1
BRITISH WEST INDIES                       1
Sierra Leone                              1
THE BALKANS                               1
SOUTH PACIFIC OCEAN                       1
BRITISH ISLES                             1
JOHNSTON ISLAND                           1
NORTH ATLANTIC OCEAN                      1
FEDERATED STATES OF MICRONESIA            1
INDIAN OCEAN                              1
DIEGO GARCIA                              1
RED SEA                                   1
SOUTH CHINA SEA                           1
ST. MAARTIN                               1
Name: Country, dtype: int64

In [38]:
# Drop extra country column
shark_attack_df.drop(columns=['Official state name'], inplace=True)
shark_attack_df.head()

,Date,Year,Type,Country,Area,Location,Activity,Gender,Age,Fatal,Time,href formula,ISO_code
0,2021-09-10,2021.0,NaN,EGYPT,NaN,Sidi Abdel Rahmen,Swimming,M,0,NaN,NaT,http://sharkattackfile.net/spreadsheets/pdf_di...,EG
1,2021-09-09,2021.0,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",Surfing and Other Board Sports,M,0,N,13:20:00,http://sharkattackfile.net/spreadsheets/pdf_di...,US
2,2021-09-05,2021.0,Unprovoked,AUSTRALIA,New South Wales,Emerald Beach,Surfing and Other Board Sports,M,31,Y,10:30:00,http://sharkattackfile.net/spreadsheets/pdf_di...,AU
3,2021-09-03,2021.0,Unprovoked,British Overseas Territory,Turks and Caicos,NaN,Other,M,0,N,NaT,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN
4,2021-08-28,2021.0,Unprovoked,USA,Texas,"Galveston Island, Galveston County",Surfing and Other Board Sports,M,0,N,11:45:00,http://sharkattackfile.net/spreadsheets/pdf_di...,US

In [39]:
shark_attack_df.shape

(4491, 13)

In [42]:
# Set up engine to transfer our shark attack df to PostgreSQL
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/shark_attack_data"
engine = create_engine(db_string)
    
# Upload shark_attack_df to a SQL database
shark_attack_df.to_sql(name='shark_attacks', con=engine, if_exists='replace')

OperationalError: (psycopg2.OperationalError) FATAL:  password authentication failed for user "postgres"

(Background on this error at: http://sqlalche.me/e/14/e3q8)